<olenepal>
<textfont>nepali</textfont>
<grade>2</grade>
<subject>Math</subject>
<activityNo>7</activityNo>
<activityTitle>xftnfuL cfpg] hf]8 </activityTitle>
<activityTitleEnglish>ADDITION WITH CARRY OVER</activityTitleEnglish>
<week>11</week>

<introduction>
xftnfuL cfpg] hf]8;DaGwL lj|mofsnfk
</introduction>


<excerciseIntro>
b'O{cf]6f ;ª\Vofsf] xftnfuL cfpg] hf]8 ug'{xf];\ .
</excerciseIntro>


<summary> 
s= 	@ ;ª\Vof hf]8\bf ! sf] :yfgdf !) eGbf a9L ePdf !) 5'§ØfO{ !) s} :yfgdf ePsf cÍ;&#8220;u hf]l8G5 .
v=	! sf] :yfgdf af&#8220;sL ePsf ;ª\VofnfO{ ! s} :yfgsf] hf]8kmndf /flvG5 .
</summary>
<help> 

<lessonHelp>
zLif{s M xftnfuL cfpg] hf]8  *e*(ADDITION WITH CARRY OVER)*n*
p2]Zo M ! sf] :yfgdf hDdf ePsf j:t'x¿ !) eGbf a9L eP !) sf] :yfgdf nuL hf]8\g'kg]{ s'/f a'´g'
o;af/] M! sf] :yfgdf ePsf j:t'x¿nfO{ lSns u/]/ hf]8\b} !) eGbf a9L ePdf !) sf] :yfgdf nuL Toxf ePsf j:t'x¿df lSns u/]/ hf]8\g] lj|mofsnfk 
s;/L M Pssf] :yfgdf ePsf j:t'x¿df kfn}kfnf] lSns u/L tNnf] vfnL :yfgdf NofO{ lSns u/]/ hf]8\g'xf];\ . olb hf]8]sf j:t'x¿sf ;ª\Vof !) eGbf a9L 5g\ eg] !) sf] ;d"x 5'l§Psf] b]lvG5 . xftnfuL cfPsf] o; ;d"xdf lSns u/]/ !) sf] :yfgdf ePsf] tNnf] vfnL 7fp&#8220;df nuL lSns ug'{xf];\ . Ps !) ylkPsf] 5 eg] tflnsfsf] dflyNnf] afof&#8220; efudf ylkg] cÍ ! b]lvG5 . !) sf] :yfgdf ePsf j:t'x¿df lSns u/L tNnf] efudf ePsf] ;d"x;&#8220;u hf]8]kl5 b'j} :yfgsf] tNnf] efudf vfnL sf]7f b]lvG5 . sf]7fdf lSns u/L dfly hf]8]/ cfPsf] ;ª\Vof 6fOk u/]/   *e*(Enter)*n* lyRg'xf];\ . 
</lessonHelp>

<exerciseLevelOneHelp>
zLif{s M 	xftnfuL cfpg] hf]8 *e*(Addition with Carry over)*n*
p2]Zo M  	! sf] :yfgdf hDdf ePsf j:t'x¿ !) eGbf a9L eP !) sf] :yfgdf nuL hf]8\g'kg]{ s'/f a'´g'
o;af/] M 	! sf] :yfgdf ePsf j:t'x¿nfO{ lSns u/]/ hf]8\b} !) eGbf a9L ePdf !) sf] :yfgdf nuL Toxf ePsf j:t'x¿df lSns u/]/ hf]8\g] lj|mofsnfk 
s;/L M 	v]n ;'? ubf{ aF&#8220;b/n] ÎoFs]sf ;ª\Vofx¿nfO{ klxn] Pssf] :yfgdf hf]8]/ !) eGbf a9L cfPdf dflyNnf] efudf ePsf] vfnL sf]7fdf lSns u/]/ xftnfuL 6fOk ug'{xf];\ / aF&#8220;sL ePsf] ;ª\Vof tnsf] vfnL sf]7fdf lSns u/L 6fOk ug'{xf];\ . To;kl5 !) sf] :yfgdf ePsf b'j} cÍx¿nfO{ xftnfuL cÍ;Fu hf]8\g'xf];\ / tnsf] vfnL sf]7fdf lSns u/]/ 6fOk ug'{xf];\ clg    *e*(Enter)*n* lyRg'xf];\ . 7Ls eP csf]{ ;d:ofdf hfg'xf];\ . unt eP uNtLnfO{    *e*(Delete)*n* u/]/ k]ml/ ;Rofpg'xf];\ .
</exerciseLevelOneHelp>

<exerciseLevelTwoHelp>

</exerciseLevelTwoHelp>

<exerciseLevelThreeHelp>

</exerciseLevelThreeHelp>
</help> 
</olenepal>
